<div class="controlls">
    <fieldset>
        <legend>Controlls</legend>

        <%= bootstrap_icon_link_to 'New User', new_user_registration_path, "icon-plus icon-white", :class => "button btn btn-success right" %>
        <%= bootstrap_icon_link_to 'Login', new_user_session_path, "icon-plus icon-white", :class => "button btn btn-success  right" %>
    </fieldset>
</div>
