/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_tree .
 *= require_self
 */

body {
    background: #000 url('backCity.jpg') -20px 0px no-repeat;
}
html, body {
    height: 100%;
    margin: 0;
}
#wrap {
    min-height: -webkit-calc(100% - 100px);     /* Chrome */
    min-height: -moz-calc(100% - 100px);     /* Firefox */
    min-height: calc(100% - 100px);     /* native */
}
.footer {
    position: relative;
    clear:both;
    margin: 40px auto 0px auto;
}
.controlls {
    float:right;      
    padding-right: 20px;
}
.content {
    padding-left: 10px;
}
a {
    color: #9c9292;
}
table a {
    color: #007095;
    text-shadow: 1px 0.1px 0px #444;
}
.right {
    float: right;
}
.left {
    float: left;
}
.inner-wrap {
    background: #7a7a7a;
    line-height: 1.2em;
}
.container {
    text-shadow: white 1px 0px 1px;
    width: 100%;
}
.top-bar{    
    box-shadow: #9c9292 0px 0px 5px;
}
.navbar-brand img{    
    margin: -15px 0px 0px -20px;
}
.title-area {
    font-size: 1.5em;
    background: url(logo.png) 15px 1px no-repeat;
    padding-left: 180px;
    padding-bottom: 40px;
    margin-left: -30px;
}
a:hover.title-area {
    text-decoration: none;
}
.top-bar-section ul > li {
    list-style: none;
    float: left;    
    padding-left: 20px;
}
.top-bar-section ul > li a:hover{
    text-decoration: none;
    color: #9c9292;
}
h1 {
    margin: auto !important;
}
form label{
    color: #333;   
    font-size: 1.2em;
}
select.multiselect {
    height: auto !important;
}
div.field select, div.field input, div.field textarea{
    background-color: #ddf;
    border: #ddf solid 2px;
    box-shadow: #9c9292 1px 2px 2px;
}
div.field input{       
    font-size: 1em;
}
div.field select{
    font-size: 0.9em;
    height: 2.6em;
}
div.field.inline{
    display:inline;    
    padding: 1em;
}
div.field.inline label{
    display: inline;
}
div.field.inline input{    
    height: 0.8em;
}
div.field select.multiselect[disabled] > option[selected]{
    color: white;
    background-color: #9c9292;
}
.alert{
    color: red;
}
.alert ul li{        
    list-style-type: decimal;
}
.form-actions{
    padding: 10px 0px;
}
.page-header{
    min-height: 30px;
}
.page-header a.button{
    margin: 15px 5px;
}
a.button, input.button{
    border-radius: 9px !important;
    border: #9c9292 solid 2px;
    color: #333;
    text-shadow: white 1px 0px 1px;
    box-shadow: 0px 1px 0px black, 1px 1px 1px #9c9292;
    text-transform: uppercase;
    font-style: italic;
    font-size: 1.2em;    
    margin: 5px;
}
button span{    
    text-shadow: 1px 1px 0px white;
}
table a.button, tabble input.button{
    font-size: 1em;
    padding: 10px;
    margin: auto;
}
table {
    border: #9c9292 solid 1px;
    box-shadow: 1px 1px 3px #333;
}
table thead tr{
    background-color: #9c9292;
    border: #9c9292 solid 1px;
    border-bottom-width: 2px;  
    border-left-width: 2px;   
    border-right-width: 3px;
    box-shadow: 1px 1px 3px #333;    
    vertical-align: top;
}
table thead tr > th{
    color: white;
    text-shadow: #333 1px 1px 2px;
    text-transform: lowercase;
    font-size: 1em;;
}
table thead tr > th div.inline input{
    margin: 0px -5px 0px 0px;
}
table thead tr > th div.inline{
    height: 1em;    
    padding-left: 20px;
}
table tbody tr{
    border: #9c9292 solid 1px;
    border-left-width: 2px;  
    border-right-width: 3px;
}
table tbody tr.template_off{
    display: none;
}
table tbody tr:nth-child(even) {
    background-color: #EDE9E9;
}

fieldset {
    display: inline-table;
}
fieldset legend {
    background: none;
    text-shadow: #9c9292 1px 0px 0px;
}
span.label a, span.label-info{
    color: white;
    text-shadow: 0px 1px 0px black;
}
span.label a:hover {
    color: white;
    text-shadow: 1px 1px 1px black;
}

footer {
    line-height: 0em;
    box-shadow: 0px -2px 5px #9c9292, 0px -1px 2px whitesmoke;
}
.zurb-footer-bottom {
    background: #333;
    padding: 10px 20px;
    box-shadow: black 0px -1px 5px;
    text-shadow: white 1px 0px 1px;
}
.zurb-footer-bottom > .button-bar p{
    margin: auto;
}

.zurb-footer-bottom ul.zurb-links {
    margin: -10px 10px;
    display: inline-block;
    padding: 0px 10px;
}

.zurb-footer-bottom ul.zurb-links li{
    margin: 0px -10px;
    padding: 10px;
    display: block;
    list-style-type: none;
}